.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.half-split-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  color: #F5F5F5;
  background-color: #14AE5C;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
}

.button:hover {
  background-color: #009951;
}

.button-outlined {
  background-color: #FCFBFB;
  color: #009951;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  box-shadow:0 0 0 2px #009951 inset;
}

.button-outlined:hover {
  background-color: #E6E6E6;
}

.auth-card {
  padding: 40px;
  background-color: #7b99dc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 100%
}

.auth-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.input-with-label {
  display: flex;
}

.input-with-label.horizontal {
  flex-direction: row;
}

.input-with-label.vertical {
  flex-direction: column;
}

.input-label.vertical {
  flex: 1
}

.input-input.vertical {
  flex: 2
}

.input-input input{
  padding: 3px 4px;
  border: 2px solid #14AE5C;
  border-radius: 4px;
  width: 100%;
}

.input-input input:focus {
  outline: none;
  border: 3px solid #02542D;
}

.input-input.chain-select {
  display: flex;
}

.textfield-with-label {
  display: flex;
}

.textfield-with-label.horizontal {
  flex-direction: row;
}

.textfield-with-label.vertical {
  flex-direction: column;
}

.textfield-label.vertical {
  flex: 1
}

.textfield-text.vertical {
  flex: 2
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7b99dc;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detail-header {
  display: flex;
  border-bottom: solid 1px #7b99dc;
  justify-content: space-between;
  font-size: 28px;
  background-color: #f5fcff;
  padding: 10px 10px 10px 40px;
}

.detail-content {
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.table-header-row {
  display: flex;
  justify-content: space-around;
}

.table-row-light {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}

.table-row-dark {
  display: flex;
  justify-content: space-around;
  background-color: #dddddd;
}

.table-cell {
  width: 100%;
  text-align: center;
  border: #282c34 1px solid;
}

.table-header-cell {
  width: 100%;
  text-align: center;
  border: #282c34 1px solid;
}

.protected-page {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 100px;
}

.chain-select-id {
  flex: 1;
}

.chain-select-title {
  flex: 4;
}

.chain-child-chains-list {
  display: flex;
  margin-top: 2px
}

.chain-child-chains-input {
  width: 100%;
}
