body {
  margin: 0;
  font-family: Metrophobic, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Metrophobic";
  src: local("Metrophobic"),
  url("./fonts/Metrophobic/Metrophobic-Regular.ttf") format("truetype");
  font-weight: normal;
}
